@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%, 
    rgba(252, 221, 221, 1) 92%, 
  );
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.music-container {
  padding: 20px 30px;
  border-radius: 15px;
  margin: 100px 0;
  background-color: #fff;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  position: relative;
  display: flex;

  .music-info {
    width: calc(100% - 40px);
    border-radius: 15px 15px 0 0;
    padding: 10px 10px 10px 150px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 20px;
    transform: translateY(0%);
    opacity: 0;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;

    h4 {
      margin: 0;
    }

    .progress-container {
      width: 100%;
      height: 4px;
      margin: 10px 0;
      border-radius: 5px;
      background: #fff;
      cursor: pointer;

      .progress {
        width: 0%;
        height: 100%;
        border-radius: 5px;
        background-color: #fe8daa;
        transition: width 0.1s linear;
      }
    }
  }

  .img-container {
    width: 110px;
    position: relative;

    &:after {
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  
    img {
      width: inherit;
      height: 110px;
      border-radius: 50%;
      object-fit: cover;
      position: absolute;
      bottom: 0;
      left: 0;
      animation: rotate 3s linear infinite;
  
      // default
      animation-play-state: paused;
    }
    
  }

  &.play {
    .music-info {
      opacity: 1;
      transform: translateY(-100%);
    }

    .img-container {
      img {
        animation-play-state: running;
      }
    }
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    .action-btn {
      padding: 10px;
      margin: 0 20px;
      border: 0;
      background-color: #fff;
      font-size: 20px;
      color: #dfdbdf;
      cursor: pointer;

      &.action-btn-big {
        font-size: 30px;
        color: #cdc2d0;
      }

      &:focus {
        outline: 0;
      }
    }

  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}